_TODO.md
_labo3.md
**/__pycache__/*
tutoriales/orbitales_atomicos/orbitales_lolo.py
tutoriales/orbitales_atomicos/*.pdf
tutoriales/orbitales_atomicos/*.gif
tutoriales/orbitales_atomicos/orbitales_atomicos_v01.py
tutoriales/orbitales_atomicos/notacion.jpg
